@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-stars-bg.png");
    height: 100vh;
    background-size: cover;
}

.container {
    text-align: center;
    padding: 40px;
}

.home-page-main-heading {
    color: white;
    font-family: Bree Serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.home-page-paragraph {
    color: white;
    font-family: Bree Serif;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.home-page-image {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/moon-bg.png");
    height: 30vh;
    width: 90vw;
    padding: 8px;
    margin: 12px;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
}

.image-heading {
    color: white;
    font-size: 40px;
    font-family: Bree Serif;
    padding: 15px;
}

.image-container {
    text-align: center;
    padding: 8px;
}

.image-paragraph {
    color: white;
    font-family: Bree Serif;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.home-page-button {
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;

}

.music-details-container {
    background-color: #03174c;
    background-size: cover;
}

.details-card-image-1 {
    height: 30vh;
    width: 90vw;
    margin: 8px;
    border-radius: 10px;
}

.details-card-heading {
    color: white;
    font-size: 30px;
    font-weight: 400;
    font-family: Bree Serif;
    padding: 10px;
}

.details-card-paragraph {
    color: #8e97fd;
    font-size: 15px;
    font-family: Bree Serif;
    padding: 10px;
}

.details-card-heading-2 {
    color: white;
    font-size: 20px;
    font-family: Bree Serif;
    padding: 10px;
}

.related-card-container {
    padding: 8px;
}

.details-card-image-2 {
    height: 90px;
    width: 120px;
    margin: 8px;
    border-radius: 10px;
}

.image-heading-2 {
    color: white;
    font-size: 15px;
    font-family: Bree Serif;
    padding: 8px;
}

.image-paragraph-2 {
    color: #8e97fd;
    font-size: 10px;
    font-family: Bree Serif;
}

.details-page-button {
    color: white;
    background-color: #8e97fd;
    padding: 8px;
    border-radius: 10px;
    margin: 8px;
}
